body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    background-color: rosybrown;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: yellow;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 2fr;
}

.search {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.search input {
    height: 1.25rem;
    width: 90%;
    border-radius: 1.25rem;
    padding: 0.1rem 0.5rem;
}

.sidebar {
    background-color: blue;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px 300px 300px;
    color: whitesmoke;
}

.content {
    background-color: goldenrod;
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    padding: 1em;
    gap: 1rem;
}

.projects-container {
    background-color: purple;
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-left: 0px;
}

.project-card {
    background-color: lightblue;
}

.announcements {
    grid-area: announcements;
}

.announcement-container {
    background-color: peachpuff;
    padding-left: 0px;
}

.trending {
    grid-area: trending;
}

.trending-container {
    background-color: peru;
    padding-left: 0px;
}
